/Source Code/PMNS/PMNS/bin
/Source Code/PMNS/PMNS/obj
/Source Code/PMNS/PMNS.Entities/bin
/Source Code/PMNS/PMNS.Entities/obj
/Source Code/PMNS/PMNS.Services/obj
/Source Code/PMNS/PMNS.Services/bin
/Source Code/PMNS/PMNS.DAL/obj
/Source Code/PMNS/PMNS.DAL/bin
/Source Code/PMNS/Infrastructures/bin
/Source Code/PMNS/Infrastructures/obj
/Source Code/PMNS/PMNS.Infranstructures/obj
/Source Code/PMNS/PMNS.Infranstructures/bin
